.input-wrapper {
  width: 40%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 500px; 

  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
  }
  
  input:focus {
    outline: none;
  }
  
  #search-icon {
    color: grey;
  }

  // Media query for smaller screens
  @media screen and (max-width: 768px) {
    width: 80%; // Adjust width for smaller screens
    margin-left: auto; // Remove specific left margin for centering
    margin-right: auto; // Add margin-right to center the element
  }
}
